<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>AD_UNIT_ID_FOR_BANNER_TEST</key>
	<string>ca-app-pub-3940256099942544/2934735716</string>
	<key>AD_UNIT_ID_FOR_INTERSTITIAL_TEST</key>
	<string>ca-app-pub-3940256099942544/4411468910</string>
	<key>CLIENT_ID</key>
	<string>943755037016-mpaa4fpi5pf0goi8ppt8a8c80v5kf1fb.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.943755037016-mpaa4fpi5pf0goi8ppt8a8c80v5kf1fb</string>
	<key>API_KEY</key>
	<string>AIzaSyD-PDztz8-wEoREI7I0cxI-2Zsc11WWZ0M</string>
	<key>GCM_SENDER_ID</key>
	<string>943755037016</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>sys.dupeifu.MusicStory</string>
	<key>PROJECT_ID</key>
	<string>musicstory-b42ce</string>
	<key>STORAGE_BUCKET</key>
	<string>musicstory-b42ce.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<true/>
	<key>IS_ANALYTICS_ENABLED</key>
	<false/>
	<key>IS_APPINVITE_ENABLED</key>
	<false/>
	<key>IS_GCM_ENABLED</key>
	<true/>
	<key>IS_SIGNIN_ENABLED</key>
	<true/>
	<key>GOOGLE_APP_ID</key>
	<string>1:943755037016:ios:944090e5cbea7c5a</string>
	<key>DATABASE_URL</key>
	<string>https://musicstory-b42ce.firebaseio.com</string>
</dict>
</plist>