.nano {
    position: relative;
    width: 100%;
    height: 100%;
    overflow: hidden
}

.nano > .nano-content {
    position: absolute;
    overflow: scroll;
    overflow-x: hidden;
    top: 0;
    right: 0;
    bottom: 0;
    left: 0
}

.nano > .nano-content:focus {
    outline: thin dotted
}

.nano > .nano-content::-webkit-scrollbar {
    display: none
}

.has-scrollbar > .nano-content::-webkit-scrollbar {
    display: block
}

.nano > .nano-pane {
    background: rgba(0, 0, 0, 0.25);
    position: absolute;
    width: 10px;
    right: 0;
    top: 0;
    bottom: 0;
    visibility: hidden\9;
    opacity: .01;
    -webkit-transition: .2s;
    -moz-transition: .2s;
    -o-transition: .2s;
    transition: .2s;
    -moz-border-radius: 5px;
    -webkit-border-radius: 5px;
    border-radius: 5px
}

.nano > .nano-pane > .nano-slider {
    background: #444;
    background: rgba(0, 0, 0, 0.5);
    position: relative;
    margin: 0 1px;
    -moz-border-radius: 3px;
    -webkit-border-radius: 3px;
    border-radius: 3px
}

.nano:hover > .nano-pane, .nano-pane.active, .nano-pane.flashed {
    visibility: visible\9;
    opacity: 0.99
}

.widget-buzz-container {
    color: #252932
}

.widget-buzz-container .iconfont {
    display: inline-block;
    height: 14px;
    width: 14px;
    background-repeat: no-repeat;
    background-size: 100% 100%
}

.widget-buzz-container .iconfont-buzz {
    background-image: url('../../images/iconfont-kuaixun-v1.png')
}

.widget-buzz-container .loading {
    text-align: center;
    margin: 20px 0
}

.widget-buzz-container .nano > .nano-pane {
    width: 6px;
    right: 2px;
    background: none;
    margin: 10px 0
}

.widget-buzz-container .nano > .nano-pane:hover > .nano-slider {
    background: #a3a3a3
}

.widget-buzz-container .nano > .nano-pane > .nano-slider {
    background: #dadada;
    transition: background .2s
}

.widget-buzz-container .title-container {
    height: 48px;
    line-height: 48px;
    padding-left: 16px;
    background-color: #f5f7fa
}

.widget-buzz-container .title-container .widget-buzz-title {
    display: inline-block;
    font-size: 16px;
    color: #3f434b
}

.widget-buzz-container .title-container .iconfont-buzz {
    margin-right: 10px;
    color: #dc2811
}

.widget-buzz-container .buzz-list-container {
    height: 470px;
    overflow-y: auto
}

.widget-buzz-container .buzz-list {
    right: 0 !important;
    border-left: 10px solid #f5f7fa;
    border-bottom: 10px solid #f5f7fa;
    border-right: 10px solid #f5f7fa
}

.widget-buzz-container .buzz-item {
    padding: 17px 12px 18px;
    margin: 2px 0;
    border-radius: 3px;
    box-shadow: 0 0 0 2px #f5f7fa;
    outline: 2px solid #f5f7fa
}

.widget-buzz-container .buzz-item:last-of-type {
    border-bottom: none
}

.widget-buzz-container .buzz-item:before {
    content: "";
    float: left;
    height: 0;
    width: 0;
    margin-top: 5px;
    vertical-align: top;
    border: 4px solid #ff6551;
    border-radius: 45px
}

.widget-buzz-container .buzz-item .buzz-item-container {
    margin-left: 23px
}

.widget-buzz-container .buzz-item .buzz-item-title {
    margin-bottom: 9px;
    font-size: 14px;
    font-weight: 600;
    line-height: 20px
}

.widget-buzz-container .buzz-item-footer {
    color: #8d9096;
    font-size: 12px;
    line-height: 12px
}

.widget-buzz-container .buzz-item-link {
    color: #252932
}

.widget-buzz-container .buzz-item-link:hover {
    color: #ff6551
}

/*# sourceMappingURL=static.css.map */


